---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - operator/

commonLabels:
  app.kubernetes.io/name: klum-operator

images:
  - name: klum-operator
    newName: ibuildthecloud/klum
    newTag: "v0.0.1-amd64"

...
