---
apiVersion: apps/v1
kind: Deployment

metadata:
  name: klum-operator

spec:
  replicas: 1

  template:
    spec:
      serviceAccountName: klum-operator

      containers:
        - name: server
          image: klum-operator
          imagePullPolicy: Always

          env:
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace

          resources:
            requests:
              cpu: "0.1"
              memory: "64Mi"
            limits:
              cpu: "0.5"
              memory: "512Mi"

...
