---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - serviceaccount.yml
  - clusterrolebinding.yml
  - deployment.yml

commonLabels:
  app.kubernetes.io/component: operator

configMapGenerator:
  - name: klum-operator
    literals: []

...
