---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - serviceaccount.yml
  - clusterrolebinding.yml
  - deployment.yml

configMapGenerator:
  - name: klum-operator
    options:
      labels:
        app.kubernetes.io/name: klum-operator
        app.kubernetes.io/component: operator
    literals: []

images:
  - name: klum-operator
    newName: ibuildthecloud/klum
    newTag: "v0.0.1-amd64"

...
